@import '../../scss/vars.scss';

.portfolio {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.container {
    margin-top: 8rem;
  }

  span {
    color: $black;
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    color: $orange;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    color: $gray;
    font-size: 14px;
  }

  &-slider {
    margin-top: 3rem;
    width: 100%;
  }

  &-img {
    border-radius: 19px;

    &:hover {
      cursor: pointer;
    }
  }
}

.swiper {
  overflow: visible;
}

.swiper-wrapper {
  height: 17rem;
  max-width: 1200px;
}

.swiper-slide {
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  width: 25rem !important;
}

@media screen and (max-width: $tablet) {
  .portfolio.container {
    margin-top: 7rem;
  }

  .swiper-slide {
    width: 19rem !important;
  }

  .swiper-wrapper {
    height: 15rem;
  }
}

@media screen and (max-width: $mobile) {
  .portfolio.container {
    margin-top: 10rem;
  }
}
